// Font family

$font-family-karla: 'Karla', sans-serif;
$font-family-arimo: 'Arimo', sans-serif;
$font-family-anton: 'Anton', sans-serif;

// Font weight

$font-weight-karla-regular: 400;
$font-weight-karla-bold: 700;
