---
title: Blog
permalink: blog.html
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="empty">
    <div class="wrap">
      <div class="main">
        {% for post in site.posts %}
        <article>
          <span class="date">{{post.date | date_to_string}}</span>
          <h1>
            {{ post.title }}
          </h1>
          
          {{ post.content }}
        </article>
        {% endfor %}
      </div>
    </div>

  </div>
  




<!-- accordion -->
<script>
  var acc = document.getElementsByClassName("accordion__button");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>
</body>
</html>
