---
title: Blog
permalink: blog.html
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <div class="wrap">
    <aside class="profile">
      <div class="profile__avatar"></div>
      <div class="profile__title">Javier Blesa Martínez</div>
      <div class="profile__bio">
       My name is Javier Blesa. I have a PhD in Telecommunication Engineering and I love electronics.
      </div>
      <ul class="profile__links">
        <li><a class="profile__link profile__link--mail" href="mailto:javierblesam@gmail.com" target="_blank">javierblesam@gmail.com</a></li>
        <li><a class="profile__link profile__link--linkedin" href="https://www.linkedin.com/in/jblesa/" target="_blank">Linkedin</a></li>
        <li><a class="profile__link profile__link--twitter" href="https://twitter.com/jblesa/" target="_blank">Twitter</a></li>
        <li><a class="profile__link profile__link--github" href="https://github.com/jblesa/" target="_blank">Github</a></li>
        <li><a class="profile__link profile__link--blog" href="#" target="_blank">Blog</a></li>
        <!--<li><a class="profile__link profile__link--blog" href="{{ site.base-url }}/blog.html" target="_blank">Blog</a></li>-->

      </ul>
    </aside>

    
    <section>
      {% for post in site.posts %}
        <article>
          <h1>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h1>
          <time>{{ post.date | date: "%B %-d, %Y" }}</time>
          
          {{ post.content }}
        </article>
      {% endfor %}
    </section>

  </div>
  




<!-- accordion -->
<script>
  var acc = document.getElementsByClassName("accordion__button");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>
</body>
</html>
