@import '../variables/grid';
@import '../variables/resume';
@import '../variables/typography';
@import '../variables/colors';
@import '../variables/transitions';

.wrap {
  display: block;
  margin: 5% auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.profile {
  width: 100%;
  padding: 4rem 0;
}

.content {
  width: 100%;
}

.posts {
  width: 100%;
}

@media #{$breakpoints-large} {
  .profile__link {
    max-height: 30px;
    max-width: 30px;
  }

  .profile{
    max-width: 400px;
  }

  .content{
    max-width: 500px;
  }

  .profile {
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
  }
  
  .wrap {
    width: 90%;
  }

}
@media #{$breakpoints-xlarge} {
  .content{
    max-width: 750px;
  }
}

