$section-margin-bottom: 2rem;

.main {
  padding: 1.5rem 0;
  color: $color-second;

  p {
    font-family: $font-family-arimo;
    font-size: 1.05rem;
    line-height: 1.75rem;
    margin: 0;
    padding: 0;
  }

  p {
    padding-bottom: 1rem;
  }

  .main__section,
  .main__title,
  .main__list {
    padding-bottom: 1rem;
  }
}

.main__title {
  font-family: $font-family-arimo;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin: 0;
  max-width: 600px;
  padding: 0;
  text-align: left;
}

.main__section {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;

  span {
    font-family: Georgia;
    font-style: italic;
  }

  &--last {
    border-bottom: 0;
    margin-bottom: $section-margin-bottom;
  }
}

.main {
  .main__section:last-child {
    border-bottom: 0;
  }
}

.main__subtitle {
  color: $color-gray;
  font-size: 1.25rem;
  padding-bottom: 1rem !important;
}

.main__list {
  list-style: disc;
  padding-left: 1rem;
}

.main__list--top {
  padding-top: 1rem;
}
