$profile-avatar-height: 230px;
$profile-avatar-width: $profile-avatar-height;
$profile-avatar-rrss-width: 50px;

.profile {
  background: rgba(0,0,0,0.4);
  padding: 2rem;
  z-index: 50;
}

.profile__avatar {
  @extend .rad_circle;

  background: transparent url('../assets/images/javiredes.jpg') no-repeat center;
  height: $profile-avatar-height;
  display: block;
  width: $profile-avatar-width;
}

.profile__title {
  font-size: 2rem;
  padding: 2rem 0;
}

.profile__bio {
  font-size: 1rem;
  line-height: 1.25rem;
  padding-bottom: 2rem;
}

.profile__links {
  display: flex;
  flex-flow: row nowrap;

  li {
    flex: 0 1 25%;
  }
}

.profile__link {
  @extend .t; // sirve para hacer una transición más fluída

  margin-right: 1rem;
  display: inline-block;
  height: $profile-avatar-rrss-width;
  width: $profile-avatar-rrss-width;
  text-indent: 999999px;
  background: red;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.15); // se hace grande
  }
}

.profile__link--twitter {
  background: transparent url('../assets/images/rrss/twitter.svg') center no-repeat;
  background-size: 100% auto;
}

.profile__link--linkedin {
  background: transparent url('../assets/images/rrss/linkedin.svg') center no-repeat;
  background-size: 100% auto;
}

.profile__link--github {
  background: transparent url('../assets/images/rrss/github.svg') center no-repeat;
  background-size: 100% auto;
}

.profile__link--mail {
  background: transparent url('../assets/images/rrss/mail.svg') center no-repeat;
  background-size: 105% auto;
}