$profile-avatar-size-mobile: 90px;
$profile-avatar-size-desktop: 140px;
$profile-avatar-rrss-width-desktop: 50px;
$profile-avatar-rrss-width-mobile: 30px;

.profile {
  padding: 2rem;
  z-index: 50;
}

.profile__avatar {
  @extend .rad_circle;

  background: transparent url('../assets/images/javiredes.jpg') no-repeat center;
  background-size: cover;
  display: block;
  height: $profile-avatar-size-mobile;
  width: $profile-avatar-size-mobile;
}

.profile__title {
  font-size: 2rem;
  padding: 2rem 0;
}

.profile__title:after {
  background: $color-corporative;
  content: '';
  display: block;
  height: 2px;
  margin-top: 1rem;
  width: 40px;
}

.profile__bio {
  font-family: $font-family-arimo;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

.profile__links {
  display: flex;
  flex-flow: row nowrap;

  li {
    flex: 0 1 20%;
  }
}

.profile__link {
  @extend .t; // sirve para hacer una transición más fluída

  margin-right: 1rem;
  display: inline-block;
  height: $profile-avatar-rrss-width-mobile;
  width: $profile-avatar-rrss-width-mobile;
  text-indent: 999999px;
  background: red;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.15); // se hace grande
  }
}

.profile__link--twitter {
  background: transparent url('../assets/images/rrss/twitter.svg') center no-repeat;
  background-size: 100% auto;
}

.profile__link--linkedin {
  background: transparent url('../assets/images/rrss/linkedin.svg') center no-repeat;
  background-size: 100% auto;
}

.profile__link--github {
  background: transparent url('../assets/images/rrss/github.svg') center no-repeat;
  background-size: 100% auto;
}

.profile__link--mail {
  background: transparent url('../assets/images/rrss/mail.svg') center no-repeat;
  background-size: 100% auto;
}

.profile__link--blog {
  background: transparent url('../assets/images/rrss/blog.svg') center no-repeat;
  background-size: 100% auto;
}

@media #{$breakpoints-large} {
  .profile__avatar {
    height: $profile-avatar-size-desktop;
    width: $profile-avatar-size-desktop;
  }
}

@media #{$breakpoints-xlarge} {
  .profile__link {
    height: $profile-avatar-rrss-width-desktop;
    width: $profile-avatar-rrss-width-desktop;
  }
}