<header class="header">
  <div class="header__head">
    <a href="" class="header__logo">
      JavierBlesa
    </a>
    <nav class="header__nav header__nav--{{ page.type }}">
      <a href="/" class="header__link header__link--profile">
        Profile
      </a>
      <a href="/blog" class="header__link header__link--blog">
        Blog
      </a>
    </nav>
  </div>
  <div class="header__rrss">
    <a href="mailto:javierblesam@gmail.com" class="header__link header__link--mail">
      javierblesam@gmail.com
    </a>
    <a href="https://www.linkedin.com/in/jblesa/" class="header__link">
      Linkedin
    </a>
    <a href="https://twitter.com/jblesa" class="header__link">
      Twitter
    </a>
    <a href="https://github.com/jblesa" class="header__link">
      Github
    </a>
  </div>
</header>
