<aside class="profile">
  <div class="profile__avatar"></div>
  <div class="profile__title">Javier Blesa Martínez</div>
  <div class="profile__bio">
   My name is Javier Blesa. I'm a Software Engineer and PhD in Telecommunication Engineering.
 </div>
 <ul class="profile__links">
  <li><a class="profile__link profile__link--mail" href="mailto:javierblesam@gmail.com" target="_blank">javierblesam@gmail.com</a></li>
  <li><a class="profile__link profile__link--linkedin" href="https://www.linkedin.com/in/jblesa/" target="_blank">Linkedin</a></li>
  <li><a class="profile__link profile__link--twitter" href="https://twitter.com/jblesa/" target="_blank">Twitter</a></li>
  <li><a class="profile__link profile__link--github" href="https://github.com/jblesa/" target="_blank">Github</a></li>
  <!--<li><a class="profile__link profile__link--blog" href="#" target="_blank">Blog</a></li>-->
  <li><a class="profile__link profile__link--blog" href="{{ site.base-url }}/blog" target="_blank">Blog</a></li>

</ul>
</aside>