
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="empty">
  <div class="wrap">
    {% include menu_blog.html %}
    <div class="main">
      <article>
        <span class="date">{{page.date | date_to_string}}</span>
        <h1>
          {{ page.title }}
        </h1>

        <div class="main_cat">

          <ul class="categories">
            {% for category in page.categories %}

            <li><a href="/blog/{{ category | slugize }}/">
              {{ category }}
            </a></li>
            {% endfor %}

          </ul>
        </div>

        {{ content }}
      </article>
    </div>
  </div>
</body>
</html>
      
